<h1>Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
  <thead>
    <tr>
      <th style="width: 4%">ID</th>
      <th style="width: 16%">First name</th>
      <th style="width: 16%">Last name</th>
      <th style="width: 16%">Email</th>
      <th style="width: 16%">Telephone</th>
      <th style="width: 16%">Age</th>
      <th style="width: 6%">Role</th>
      <th style="width: 10%">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>
        <a (click)="navigateToProfile(user.id)">
          {{user.email}}
        </a>
      </td>
      <td>{{user.phone}}</td>
      <td>{{user.age}}</td>
      <td>{{user.role}}</td>
      <td style="white-space: nowrap">

        <div *ngIf="this.userRole === 'ADMIN'" class="dropdown" style="width: 100%;">
          <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
          <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user">
            <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
            <span *ngIf="!user.isDeleting">Delete</span>
          </button>

          <button style="width: 100%;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Email
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button (click)="sendEmail(user.id, 'BOOK_DEBT')" class="dropdown-item">BOOK_DEBT</button>
            <button (click)="sendEmail(user.id, 'BOOK_ORDERED')" class="dropdown-item">BOOK_ORDERED</button>
            <button (click)="sendEmail(user.id, 'BOOK_IN_LIBRARY')" class="dropdown-item">BOOK_IN_LIBRARY</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>