<h1>Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
  <thead>
    <tr>
      <th style="width: 4%">ID</th>
      <th style="width: 10%">First name</th>
      <th style="width: 10%">Last name</th>
      <th style="width: 16%">Email</th>
      <th style="width: 16%">Telephone</th>
      <th style="width: 16%">Age</th>
      <th style="width: 6%">Role</th>
      <th style="width: 22%">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>
        <a (click)="navigateToProfile(user.id)">
          {{user.email}}
        </a>
      </td>
      <td>{{user.phone}}</td>
      <td>{{user.age}}</td>
      <td>{{user.role}}</td>
      <td>

        <div class="dropdown" style="width: 100%;">
          <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
          <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user">
            <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
            <span *ngIf="!user.isDeleting">Delete</span>
          </button>

          <button style="width: 40%; font-size: .875rem; padding: 0.25rem 0.5rem"
            class="btn btn-secondary dropdown-toggle ml-1" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Email
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button (click)="sendEmail(user.id, 'IN_USE')" class="dropdown-item">IN_USE</button>
            <button (click)="sendEmail(user.id, 'ORDERED')" class="dropdown-item">ORDERED</button>
            <button (click)="sendEmail(user.id, 'IN_LIBRARY')" class="dropdown-item">IN_LIBRARY</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });
</script>