<div *ngIf="book" class="main-div">
  <div class="card">
    <h2 class="title">{{book.title}}</h2>
    <div class="first-card-info">
      <div class="img-container">
        <img src="{{book.imageLinks.thumbnail ? book.imageLinks.thumbnail :
        'https://fully-booked.ap-south-1.linodeobjects.com/catalog/product/placeholder/default/book-placeholder.png'}}"
             alt="Image of book" class="img-of-book">
      </div>
      <div class="first-info-container">
        <div class="info-about-book">
          <strong>Authors</strong>
          <p class="info-book">{{book.authors}}</p>
        </div>
        <div class="info-about-book">
          <strong>Published date</strong>
          <p class="info-book">{{book.publishedDate}}</p>
        </div>
<!--        <div class="info-about-book">-->
<!--          <strong>Industry Identifiers</strong>-->
<!--          <p class="info-book">{{book.industryIdentifiers}}</p>-->
<!--        </div>-->
        <div class="info-about-book">
          <strong>Categories</strong>
          <p class="info-book">{{book.categories}}</p>
        </div>
      </div>
      <div>
        <div class="info-about-book">
          <strong>Pages</strong>
          <p class="info-book">{{book.pageCount}}</p>
        </div>
        <div class="info-about-book">
          <strong>Average Rating</strong>
          <p class="info-book">{{book.averageRating}}</p>
        </div>
        <div class="info-about-book">
          <strong>Language</strong>
          <p class="info-book">{{book.language}}</p>
        </div>
        <div class="info-about-book">
          <strong>IndustryIdentifiers</strong>
          <p class="info-book">Identifier: {{book.industryIdentifiers[0].identifier}},
        Type: {{book.industryIdentifiers[0].type}}
          </p>
        </div>
      </div>
      <div style="width: 20%">
        <div class="info-about-book">
          <strong>Description:</strong>
          <p>{{book.description}}</p>
      </div>
    </div>
    <div class="second-card-info"></div>
  </div>
  <div class = "card comments-container">
    <div class="form-group textarea-container" style="width: 50%;">
      <form [formGroup]="formComments" (ngSubmit)="onSubmit(); this.formComments.reset();">
        <div class="form-group">
          <label for="comment">Write a comment:</label>
          <input type="text" formControlName="comment" name="comment" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" />
          <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
            <div *ngIf="f.comment.errors.required">Comment is required</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
          </button>
        </div>
      </form>

    </div>

    <ul class="comments-list">
      <li *ngFor="let comment of book.comments" class="comments-item">
        <strong class="comment-name">{{comment.userDto.firstName}}  {{comment.userDto.lastName}}</strong>
        <div class="container comment-text" style="padding: 10px">{{comment.comment}}</div>
      </li>
    </ul>



<!--    <div *ngFor="let comment of book.comments" class="comment-container">-->
<!--        <div class="comment">{{comment.userDto.firstName}}  {{comment.userDto.lastName}} said:-->
<!--          <div style="margin-left: 40px; max-width: 50%">{{comment.comment}}</div>-->
<!--        </div>-->
<!--      </div>-->
  </div>
</div>



<!--<div *ngIf="book" class="main-div">-->
<!--  <mat-card class="card">-->
<!--    <mat-card-header class="header-container">-->
<!--      <div mat-card-avatar>-->
<!--        <img src="{{book.imageLinks.smallThumbnail}}" class="header-image">-->
<!--      </div>-->
<!--      <div>-->
<!--        <mat-card-title class="book-title">{{book.title}}</mat-card-title>-->
<!--        <div *ngFor="let author of book.authors" class="book-author">-->
<!--          <mat-card-subtitle>{{author}}</mat-card-subtitle>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p><b>Total pages:</b> {{book.pageCount}}</p>-->
<!--      <p><b>Categories:</b> {{book.categories}}</p>-->
<!--      <p><b>Average ratings:</b> {{book.averageRating}}</p>-->
<!--      <p><b>Votes:</b> {{book.vote}}</p>-->
<!--      <div><b>Comments:</b>-->
<!--        <div *ngFor="let comment of book.comments" class="comment-container">-->
<!--          <div class="comment">{{comment.userDto.firstName}}  {{comment.userDto.lastName}} said:-->
<!--            <div style="margin-left: 40px; max-width: 50%">{{comment.comment}}</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
