.card {
  width: 80%;
  max-width: 80%;
  height: 70%;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.main-div {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
}

.header-image {
  background-size: cover;
  height: 220px;
  width: 200px;
  flex-shrink: 0;
}

.comment-container {
  display: flex;
  justify-content: flex-start;
}

.comment {
  padding-left: 15%;
  display: inherit;
  justify-content: inherit;
  max-width: 50%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30%;
}

.book-author{
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

.book-title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 70px;
}
