<div *ngIf="book" class="main-div">
  <div class="card">
    <h2 class="title">{{book.title}}</h2>
    <div class="first-card-info">
      <div class="img-container">
        <img src="{{book.imageLinks.thumbnail ? book.imageLinks.thumbnail :
        'https://fully-booked.ap-south-1.linodeobjects.com/catalog/product/placeholder/default/book-placeholder.png'}}"
             alt="Image of book" class="img-of-book">
      </div>
      <div class="first-info-container">
        <div class="info-about-book">
          <strong>Authors</strong>
          <p class="info-book">{{book.authors}}</p>
        </div>
        <div class="info-about-book">
          <strong>Published date</strong>
          <p class="info-book">{{book.publishedDate}}</p>
        </div>
<!--        <div class="info-about-book">-->
<!--          <strong>Industry Identifiers</strong>-->
<!--          <p class="info-book">{{book.industryIdentifiers}}</p>-->
<!--        </div>-->
        <div class="info-about-book">
          <strong>Categories</strong>
          <p class="info-book">{{book.categories}}</p>
        </div>
      </div>
      <div>
        <div class="info-about-book">
          <strong>Pages</strong>
          <p class="info-book">{{book.pageCount}}</p>
        </div>
        <div class="info-about-book">
          <strong>Average Rating</strong>
          <p class="info-book">{{book.averageRating}}</p>
        </div>
        <div class="info-about-book">
          <strong>Language</strong>
          <p class="info-book">{{book.language}}</p>
        </div>
        <div class="info-about-book">
          <strong>IndustryIdentifiers</strong>
          <p class="info-book">Identifier: {{book.industryIdentifiers[0].identifier}},
        Type: {{book.industryIdentifiers[0].type}}
          </p>
        </div>
      </div>
      <div style="width: 20%">
        <div class="info-about-book">
          <strong>Description:</strong>
          <p>{{book.description}}</p>
      </div>
    </div>
    <div class="status-bar">

    </div>
  </div>


    <!--      active, editable, done-->
    <div class="md-stepper-horizontal orange">
      <div [ngClass]="{'active' : book.status === 'SUBMITTED' }" class="md-step">
        <div class="md-step-circle"></div>
        <div class="md-step-title">SUBMITTED</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div [ngClass]="{'active' : book.status === 'APPROVED' }" class="md-step">
        <div class="md-step-circle"></div>
        <div class="md-step-title">APPROVED</div>
        <div class="md-step-optional">Optional</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div [ngClass]="{'active' : book.status === 'ORDERED' }" class="md-step">
        <div class="md-step-circle"></div>
        <div class="md-step-title">ORDERED</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div [ngClass]="{'active' : book.status === 'IN_LIBRARY' }" class="md-step">
        <div class="md-step-circle"></div>
        <div class="md-step-title">IN_LIBRARY</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div [ngClass]="{'active' : book.status === 'IN_USE'}" class="md-step">
        <div class="md-step-circle"></div>
        <div class="md-step-title">IN_USE</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>


      <style>
        html {
          -webkit-font-smoothing: antialiased!important;
          -moz-osx-font-smoothing: grayscale!important;
          -ms-font-smoothing: antialiased!important;
        }
        body {
          font-family: 'Open Sans', sans-serif;
          font-size:16px;
          color:#555555;
        }
        .md-stepper-horizontal {
          display:table;
          width:100%;
          margin:0 auto;
          background-color:#FFFFFF;
          box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
        }
        .md-stepper-horizontal .md-step {
          display:table-cell;
          position:relative;
          padding:24px;
        }
        .md-stepper-horizontal .md-step:hover,
        .md-stepper-horizontal .md-step:active {
          background-color:rgba(0,0,0,0.04);
        }
        .md-stepper-horizontal .md-step:active {
          border-radius: 15% / 75%;
        }
        .md-stepper-horizontal .md-step:first-child:active {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        .md-stepper-horizontal .md-step:last-child:active {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .md-stepper-horizontal .md-step:hover .md-step-circle {
          background-color:#757575;
        }
        .md-stepper-horizontal .md-step:first-child .md-step-bar-left,
        .md-stepper-horizontal .md-step:last-child .md-step-bar-right {
          display:none;
        }
        .md-stepper-horizontal .md-step .md-step-circle {
          width:30px;
          height:30px;
          margin:0 auto;
          background-color:#999999;
          border-radius: 50%;
          text-align: center;
          line-height:30px;
          font-size: 16px;
          font-weight: 600;
          color:#FFFFFF;
        }
        .md-stepper-horizontal.green .md-step.active .md-step-circle {
          background-color:#00AE4D;
        }
        .md-stepper-horizontal.orange .md-step.active .md-step-circle {
          background-color:#F96302;
        }
        .md-stepper-horizontal .md-step.active .md-step-circle {
          background-color: rgb(33,150,243);
        }
        .md-stepper-horizontal .md-step.done .md-step-circle:before {
          font-family:'FontAwesome';
          font-weight:100;
          content: "\f00c";
        }
        .md-stepper-horizontal .md-step.done .md-step-circle *,
        .md-stepper-horizontal .md-step.editable .md-step-circle * {
          display:none;
        }
        .md-stepper-horizontal .md-step.editable .md-step-circle {
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }
        .md-stepper-horizontal .md-step.editable .md-step-circle:before {
          font-family:'FontAwesome';
          font-weight:100;
          content: "\f040";
        }
        .md-stepper-horizontal .md-step .md-step-title {
          margin-top:16px;
          font-size:16px;
          font-weight:600;
        }
        .md-stepper-horizontal .md-step .md-step-title,
        .md-stepper-horizontal .md-step .md-step-optional {
          text-align: center;
          color:rgba(0,0,0,.26);
        }
        .md-stepper-horizontal .md-step.active .md-step-title {
          font-weight: 600;
          color:rgba(0,0,0,.87);
        }
        .md-stepper-horizontal .md-step.active.done .md-step-title,
        .md-stepper-horizontal .md-step.active.editable .md-step-title {
          font-weight:600;
        }
        .md-stepper-horizontal .md-step .md-step-optional {
          font-size:12px;
        }
        .md-stepper-horizontal .md-step.active .md-step-optional {
          color:rgba(0,0,0,.54);
        }
        .md-stepper-horizontal .md-step .md-step-bar-left,
        .md-stepper-horizontal .md-step .md-step-bar-right {
          position:absolute;
          top:36px;
          height:1px;
          border-top:1px solid #DDDDDD;
        }
        .md-stepper-horizontal .md-step .md-step-bar-right {
          right:0;
          left:50%;
          margin-left:20px;
        }
        .md-stepper-horizontal .md-step .md-step-bar-left {
          left:0;
          right:50%;
          margin-right:20px;
        }
      </style>
    </div>
  </div>
  <div class = "card comments-container">
    <div class="form-group textarea-container" style="width: 50%;">
      <form [formGroup]="formComments" (ngSubmit)="onSubmit(); this.formComments.reset();">
        <div class="form-group">
          <label for="comment">Write a comment:</label>
          <input type="text" formControlName="comment" name="comment" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" />
          <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
            <div *ngIf="f.comment.errors.required">Comment is required</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
          </button>
        </div>
      </form>

    </div>

    <ul class="comments-list">
      <li *ngFor="let comment of book.comments" class="comments-item">
        <span style="display: flex;">
          <strong class="comment-name">{{comment.userDto.firstName}}  {{comment.userDto.lastName}}</strong>
          <i style="margin-left: auto">{{comment.date}}</i>
        </span>
        <div class="container comment-text" style="padding: 10px">{{comment.comment}}</div>
      </li>
    </ul>



<!--    <div *ngFor="let comment of book.comments" class="comment-container">-->
<!--        <div class="comment">{{comment.userDto.firstName}}  {{comment.userDto.lastName}} said:-->
<!--          <div style="margin-left: 40px; max-width: 50%">{{comment.comment}}</div>-->
<!--        </div>-->
<!--      </div>-->
  </div>
</div>



<!--<div *ngIf="book" class="main-div">-->
<!--  <mat-card class="card">-->
<!--    <mat-card-header class="header-container">-->
<!--      <div mat-card-avatar>-->
<!--        <img src="{{book.imageLinks.smallThumbnail}}" class="header-image">-->
<!--      </div>-->
<!--      <div>-->
<!--        <mat-card-title class="book-title">{{book.title}}</mat-card-title>-->
<!--        <div *ngFor="let author of book.authors" class="book-author">-->
<!--          <mat-card-subtitle>{{author}}</mat-card-subtitle>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p><b>Total pages:</b> {{book.pageCount}}</p>-->
<!--      <p><b>Categories:</b> {{book.categories}}</p>-->
<!--      <p><b>Average ratings:</b> {{book.averageRating}}</p>-->
<!--      <p><b>Votes:</b> {{book.vote}}</p>-->
<!--      <div><b>Comments:</b>-->
<!--        <div *ngFor="let comment of book.comments" class="comment-container">-->
<!--          <div class="comment">{{comment.userDto.firstName}}  {{comment.userDto.lastName}} said:-->
<!--            <div style="margin-left: 40px; max-width: 50%">{{comment.comment}}</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
