<ng-template #rt let-r="result" let-t="term" style="overflow:scroll; height:400px;">
  <div class="search-card-info">
    <img [src]="r.imageLinks ? r.imageLinks.thumbnail : '#'" class="mr-1" style="width: 16px">
    <div>
      <p>
        <strong>Title&#58;</strong>
        <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
      </p>
            <p>
              <strong>Author&#58;</strong>
              <span *ngFor="let author of r.authors">{{author}}</span>
            </p>
            <p>
              <strong>Publisher&#58;</strong>
              {{r.publisher}}
            </p>
          </div>

          <div>
            <p>
              <strong>Pages&#58;</strong>
              {{r.pageCount}}
            </p>
            <p>
              <strong>Rating&#58;</strong>
              {{r.averageRating}}
            </p>
            <p>
              <strong>Language&#58;</strong>
              {{r.language}}
            </p>
    </div>


    <a class="btn btn-primary" href="#" role="button">Request</a>
    <p class="field-description">
      <strong>Description&#58;</strong>
      {{r.description ? r.description.slice(0, 150) : 'n/a'}}</p>
  </div>
  <div></div>
</ng-template>


  <label for="typeahead-scrollable">Search for a state:</label>
  <input id="typeahead-scrollable" type="text" class="form-control"
         #typeaheadInstance="ngbTypeahead"
         [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
         [inputFormatter]="formatter"/>
<hr>
