<div class="container">
  <div class="profile-container">
    <div class="d-flex mb-5">
      <img width="350px" height="auto" style="margin: 0 auto;"
        src="https://devtalk.blender.org/uploads/default/original/2X/c/cbd0b1a6345a44b58dda0f6a355eb39ce4e8a56a.png"
        alt="Profile image">
    </div>
    <div class="profile-info">
      <span>
        <p class=""><strong>First name: </strong> {{user.firstName}}</p>
        <p class=""><strong>Last name: </strong> {{user.lastName}}</p>
      </span>
      <span>
        <p class=""><strong>Age: </strong> {{user.age}}</p>
        <p class=""><strong>Phone: </strong> {{user.phone}}</p>
      </span>
      <span>
        <p class=""><strong>Email: </strong> {{user.email}}</p>
        <p class=""><strong>Role: </strong> {{user.role}}</p>
      </span>
    </div>
    <div class="profile-button">
      <a class="btn btn-info" routerLink="password/{{user.id}}" routerLinkActive="active">Change password</a>
      <a class="btn btn-primary" routerLink="edit/{{user.id}}" routerLinkActive="active"
        style="margin-right: 15px;">Edit profile</a>
    </div>
  </div>
  <div *ngIf="user.role === 'ADMIN'" style="margin-top: 20px;" class="dashboard-container">
    <h4>List of requested books</h4>
    <table datatable [dtOptions]="dtOptionsAdmin" [dtTrigger]="dtTriggerAdmin" class="table">
      <thead>
        <tr>
          <th scope="col">Full name</th>
          <th scope="col">Book title</th>
          <th scope="col">Date</th>
          <th scope="col">Button</th>
        </tr>
      </thead>
      <tbody>
        <tr id="test" *ngFor="let request of bookActionRequested">
          <td>{{request.user.firstName}} {{request.user.firstName}}</td>
          <td><a href="#">{{request.book.title}}</a></td>
          <td>{{request.actionDate}}</td>
          <td><button (click)="this.status(request.user.id, request.book.id, 'IN_USE');" type="button"
              class="btn btn-dark">Allow</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="user.role === 'USER'" style="margin-top: 20px;" class="dashboard-container">
    <h4>List of books submitted by me</h4>
    <table datatable [dtOptions]="dtOptionsUser" [dtTrigger]="dtTriggerUser" class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Authors</th>
          <th scope="col">Categories</th>
          <th scope="col">Votes</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterItemsOfType(this.user.id)">
          <td><a href="book/{{data.book.id}}">{{data.book.title}}</a></td>
          <td>{{data.book.authors}}</td>
          <td>{{data.book.categories}}</td>
          <td>{{data.book.votes ? data.book.votes : '0'}}</td>
          <td>{{data.book.status}}</td>
          <td>{{data.actionDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>