body {
  background: rgb(39, 39, 39);
}


.search-card-container {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  font-size: 12px;
}

.field-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
